
## <summary>policy for nebulaproject</summary>


########################################
## <summary>
##	Transition to nebulaproject.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`nebulaproject_domtrans',`
	gen_require(`
		type nebulaproject_t, nebulaproject_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, nebulaproject_exec_t, nebulaproject_t)
')


########################################
## <summary>
##	Execute nebulaproject server in the nebulaproject domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nebulaproject_initrc_domtrans',`
	gen_require(`
		type nebulaproject_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, nebulaproject_initrc_exec_t)
')


########################################
## <summary>
##	Search nebulaproject lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nebulaproject_search_lib',`
	gen_require(`
		type nebulaproject_var_lib_t;
	')

	allow $1 nebulaproject_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read nebulaproject lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nebulaproject_read_lib_files',`
	gen_require(`
		type nebulaproject_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, nebulaproject_var_lib_t, nebulaproject_var_lib_t)
')

########################################
## <summary>
##	Manage nebulaproject lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nebulaproject_manage_lib_files',`
	gen_require(`
		type nebulaproject_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, nebulaproject_var_lib_t, nebulaproject_var_lib_t)
')

########################################
## <summary>
##	Manage nebulaproject lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nebulaproject_manage_lib_dirs',`
	gen_require(`
		type nebulaproject_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, nebulaproject_var_lib_t, nebulaproject_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a nebulaproject environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`nebulaproject_admin',`
	gen_require(`
		type nebulaproject_t;
		type nebulaproject_initrc_exec_t;
		type nebulaproject_var_lib_t;
	')

	allow $1 nebulaproject_t:process { ptrace signal_perms };
	ps_process_pattern($1, nebulaproject_t)

	nebulaproject_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 nebulaproject_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, nebulaproject_var_lib_t)

')

