# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=NEBULAPROJECT Core
Comment=NEBULAPROJECT Core QT test network
GenericName=NEBULAPROJECT Digital Currency QT client testnet network
Exec=nebulaproject-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/nebulaproject_testnet.png
MimeType=x-scheme-handler/nbla;
Categories=X-Office;X-Finance;
Keywords=internet;nebulaproject;znbla;tnbla;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
